<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentTable.Properties.Settings.StudentDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-PL29PE4;Initial Catalog=StudentDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>